body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    gap: 1px;
}

.square {
    background-color: transparent;
    border: 1px solid white;
}